
/*  resizeend.js demo
 *  http://porada.github.com/resizeend/
•••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• */

html, body, div, h1, p {
    display: block;
    padding: 0;
    margin: 0;
}

body {
    padding-bottom: 2em;
    background: #fff;
    color: #555;
    font: 16px/1.2 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    color: #62a0e6;
}

a:active {
    color: #e56262;
    text-shadow: 0 1px 1px #fff;
}

code {
    font-family: Monaco, Consolas, CourierNewPS-BoldMT /* iOS */, monospace;
    font-weight: normal;
}

.block {
    padding: 2em 10% 1.5em;
}

.header {
    background: #f1f1f1;
    border-bottom: 1px solid #ccc;
}

.header p {
    color: #999;
}

h1 {
    font-size: 1.5em;
    line-height: 0.9;
    margin: 1em 0;
}

.log p {
    padding: 0.8em 1em;
    margin-bottom: 0.5em;
    border: 1px solid #e6e6af;
    border-radius: 3px;
    background: #fdfdde;
    color: #727254;
}

.log p.start {
    color: inherit;
    border-color: #ddd;
    background: transparent;
}
